* , body {
  background-color: #d3d3d3;
  margin: 0;
  font-family: "FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif";
  font-weight: 400;
}

.mainBox {
  background-color: lightgrey;
  /* border: 5px solid black; */
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
}

.row {
  padding-left: 20px; 
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
  width: 800px;
  /* flex-grow: 21; */
}

.elements-left {
  padding: 10px 60px 10px 15px;
  border-left: 2px solid #f3f4f7;
}

.elements-right {
  padding: 10px 0 0 10px;
  margin-right: 5px;
  background-color: white;
  width: inherit;
  /* margin-left: 50px; */
}

.cursorPointor {
  cursor: pointer;
}

.run-command {
  /* width: max-content; */
  padding: 10px 30px 10px 15px;
  margin-right: 5px;
  background-color: white;
}

.row1 {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 500px;
}

.left {
  width: 15rem;
  margin-right: 10px;
  /* align-items: center;
  justify-content: center; */
  /* display: block; */
}

@media (max-width: 800px){
  .row{
    flex-direction: column;
  }
  .row1{
    display: block;
    width: 200px;
  }
  .elements-right{
    margin-bottom: 7px;
  }
  .run-command{
    padding: 10px 0 20px 15px;
  }
}