*, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.mainBox{
  width: 900px;
  margin: 5rem;
  border: 1px solid lightgray;
  padding-top: 3rem;
  padding-left: 0;
  padding-right: 0;
  border-radius: 2%;
}

.info {
  margin-top: 2rem;
  padding-left: 20px;
}

.command {
  margin-top: 1rem;
  /* padding: 20px; */
  background-color: lightgray;
  padding: 30px;
}

.contentBox {
  margin-top: 20px;
  padding: 0;
  border-top: 2px solid lightgray;
  border-radius: 5%;
}

.selectBox {
  padding: 20px;
}

